@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GT-Walsheim-Regular";
  src: local("GT-Walsheim-Regular"),
    url("./fonts/GT-Walsheim-Regular-Trial.woff2") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "GT-Walsheim-Bold";
  src: local("GT-Walsheim-Bold"),
    url("./fonts/GT-Walsheim-Bold-Trial.woff2") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "GT-Walsheim-Medium";
  src: local("GT-Walsheim-Medium"),
    url("./fonts/GT-Walsheim-Medium-Trial.woff2") format("truetype");
  font-weight: lighter;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-font-smoothing: antialiased;
  scrollbar-width: thin;
  scrollbar-color:auto;
}

body {
  font-size: 10px;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #888; 
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.linkNav {
  position: relative;
}

.linkNav::before {
  content: "";
  background: white;
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transition: 0.3s;
}

.linkNav:hover::before {
  transform: scaleX(1);
  margin-bottom: -0.3em;
}

.FontRegular {
  font-family: "GT-Walsheim-Regular";
}

.FontBold {
  font-family: "GT-Walsheim-Bold";
}

.FontMedium {
  font-family: "GT-Walsheim-Medium";
}

.searchScrollbar::-webkit-scrollbar {
  display: none;
  
}


.successP{
  background-color: greenyellow;
}

.errorP{
  background-color: #f72e2e
}